body{
    background-size: cover;
}
h1{
    text-align: center;
}
.center{
    /* border: 1px solid black; */
    word-spacing: 5px;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}
 label{
    grid-column:1/2;
}
.center input,button{
    grid-column:2/3;
}
.nam{
    width:100px;
    float:left;
    color:white;
}
.content {
    padding-top:0;
    max-width: 500px;
    margin: auto;
}
table{
    border: 1px solid black;
    width:80%;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
.header{
    background-color: rgb(24, 27, 46);
    color: white;
    text-align: center;
}
.footer {
    width: 100%;
    height: auto;
    background-color: rgb(24, 27, 46);
    color: white;
    text-align: center;
    /* Aligns the links to the right */
    /* Adds some padding around the links */
}


.header-links {
    float: right;
    /* Aligns the links to the right */
    padding: 0.5rem 1rem;
    /* Adds some padding around the links */
}

.header-links a {
    color: white;
    /* Sets the text color to white */
    text-decoration: none;
    /* Removes underline from links */
    margin-left: 2rem;
    /* Adds space between the links */
}

.header-links a:hover {
    text-decoration: underline;
    /* Adds underline on hover */
}
.both{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-icon {
    position: absolute;
    left: 10px; 
    bottom: 25px;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; /* Makes the image round */
}
.profile-link {
    position: absolute;
    left: 10px; /* Align with the profile icon */
    bottom: 0; /* Position below the profile icon */
    color: white; /* Match the header text color */
    text-decoration: none; /* Optional: removes the underline */
    padding-top: 60px;
}