body{
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.login{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    text-align: center;
    background: #9b8ba8;
    padding: 10px;
    box-shadow: 8px 8px 5px #444;
    justify-content: center;
}