*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-size: cover;
}

h1 {
    padding-top: 1rem;
    text-align: center;
}

.header {
    background-color: rgb(24, 27, 46);
    color: white;
    text-align: center;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: rgb(24, 27, 46);
    color: white;
    text-align: center;
    /* Aligns the links to the right */
    /* Adds some padding around the links */
}
.btn{
    grid-column: 1/span 2;
}

.header-links {
    float: right;
    /* Aligns the links to the right */
    padding: 0.5rem 1rem;
    /* Adds some padding around the links */
}

.header-links a {
    color: white;
    /* Sets the text color to white */
    text-decoration: none;
    /* Removes underline from links */
    margin-left: 2rem;
    /* Adds space between the links */
}

.header-links a:hover {
    text-decoration: underline;
    /* Adds underline on hover */
}

.both {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    padding-bottom:3rem;
}

.center {
    margin-top: 3rem;
    /* border: 1px solid black; */
    word-spacing: 5px;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    row-gap: 0px;
    
}
label{
    grid-column:1/2;
}
input,button{
    grid-column:2/3;
}

.content {
    display: flex;
    align-items: center;
}