table{
    word-spacing: 5px;
    align-content: center;
    align-items: center;
    width: 600px;
    height: 350px;
    border: 1px solid black;
}

tr:nth-child(even){
    background-color: #f2f2f2;}

th{
    text-align: center;
}

.calc{
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
}